@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
}
button {
  padding: 14px 32px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
main {
  background-color: #111;
  min-height: calc(100vh - 80px);
}
