.intro {
  display: flex;
  justify-content: space-around;
}
.introLeft {
  flex: 1;
  padding: 150px 0 0 160px;
}
.introHead {
  font-size: 110px;
  font-weight: bold;
}
.introText {
  margin-bottom: 30px;
}
.exploreBtn {
  padding: 14px 32px;
  font-weight: bold;
  font-size: 14px;
}
.introRight {
  flex: 1;
  margin: 50px 100px;
}
